@model Dictionary<string,int>

@{ 
    Layout = "AppLayout";
}

<style>
    .text {
        font-size: 18px;   
    }

    .value {
        text-align: right
    }

</style>

<div class="container">
    
    <div class="row">
        @foreach (KeyValuePair<string,int> metric in Model)
        {
            <div class="col-6">
                <div class="row">
                    <div class="col text">@metric.Key</div>
                    <div class="col text value">@metric.Value</div>
                </div>
            </div>
        }
    </div>
</div>

