@addTagHelper *, DocParty
@using DocParty.ViewModel;
@model ProjectsInfo

@{ 
    Layout = "AppLayout";
}
<div class="container">
   @await Html.PartialAsync("ProjectAddingForm");
   <vc:project-data-table info=@Model />
</div>
