@using DocParty.ViewModel;
@model ProjectsInfo

@{ 
    Layout = "AppLayout";
}
<div class="container">
   @await Html.PartialAsync("ProjectAddingForm", Model)
   @await Html.PartialAsync("UserProjectsTable", Model.Table)
</div>
