@using DocParty.ViewModel;
@model ProjectInfo

@{
    Layout = "AppLayout";

    string stateButtonText;

    if (Model.IsActive)
        stateButtonText = "Close project";
    else stateButtonText = "Open project";

}


<div class="container">
    <div class="row">
        <div class="offset-4 col-4" style="text-align:center">
            <h1 class="page-header">@Model.Name</h1>
        </div>
        <div class="col" style="position:relative">
            <form action=@Model.StateLocation method="post">
                <button type="submit" class="btn btn-primary" style="position:absolute; right:0px">@stateButtonText</button>
            </form>
        </div>
    </div>
    <div class="row">
        @await Html.PartialAsync("SnapshotAddingForm", Model.SnapshotAddingLocation)
    </div>
    <div class="row">
        @await Html.PartialAsync("ProjectSnapshotsTable", Model.Data)
    </div>
    <div class="row">
        @await Html.PartialAsync("CommentAddingForm", Model.FormData)
    </div>
</div>
