@using DocParty.Services.Tables;
@using DocParty.ViewModel
@using DocParty.Models
@model ProjectSnapshotsTableData

@{
    var table = Model.Table;
    int rowCount = ((ITable)Model.Table).RowCount;
    int columnCount = table.ColumnNames.Length;
    int columnCountWithDownloadColumn = columnCount + 1;
}
<table class="table">
    <thead>
        <tr>
            @foreach (var columnName in table.ColumnNames)
            {
                <th scope="col">@columnName</th>
            }
            <th scope="col">Download</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < rowCount; i++)
        {
            string reference = null;
            <tr>
                @for (int j = 0; j < columnCount; j++)
                {
                    string columnName = table.ColumnNames[j];
                    string value = table.Values[i, j];

                    <td>
                        @if (table.ColumnReferences.ContainsKey(columnName))
                        {
                            reference = table.ColumnReferences[columnName][i];

                            <a href=@reference>@value</a>
                        }
                        else
                        {
                            <span>@value</span>
                        }
                    </td>

                }

                @{
                    string downloadLink = $"{reference}/download";
                }
                <td>
                    <form action=@downloadLink method="post">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-download"></i>
                        </button>
                    </form>
                </td>

            </tr>
            <tr>
                <th colspan=@columnCountWithDownloadColumn>
                    <strong style="color:blue;font-size:18px">Comments</strong>
                    @foreach (var comment in Model.Comments[i])
                    {
                        string commentItem = $"{comment.Author.UserName}: {comment.Text}";

                    <div class="row">
                        @commentItem
                    </div> 
                    }
                </th>
            </tr>
        }
    </tbody>
</table>
